 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 373px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: 83px 648px 0 20px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 228px;
  background-image: none;
  margin: -140px 58px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 570px;
  height: 228px;
  background-image: none;
  margin: -248px 78px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 78px;
  margin: -163px 102px 60px 516px;
}

.u-section-1 .u-input-1 {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 468px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 2px;
    margin-left: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 248px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 68px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-shape-1 {
  width: 462px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1071px;
  margin: 71px auto 36px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-2 .u-image-1 {
  height: 548px;
  object-position: 0% 65.31%;
  background-position: 0% 65.31%;
  width: 511px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 21px 31px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 24px -12px 0 119px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-2 .u-image-1 {
    height: 515px;
    width: 480px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
  }

  .u-section-2 .u-image-1 {
    height: 389px;
    width: 363px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 485px;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-2 .u-shape-1 {
    width: 273px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 303px;
    margin-top: -810px;
    margin-bottom: 32px;
    margin-left: 19px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-2 .u-image-1 {
    height: 343px;
    width: 320px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 642px;
}

.u-section-3 .u-shape-1 {
  width: 462px;
  background-image: none;
  height: 581px;
  margin: 60px auto 0 108px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  margin: -561px 584px 0 129px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 28px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-shape-2 {
  width: 227px;
  height: 100px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 227px;
  height: 126px;
  margin: 26px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -114px -17px 0 143px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 482px;
  margin: -102px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: -330px 570px 0 143px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -70px 570px 0 143px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 127px 570px 227px 143px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 484px;
    margin-left: 29px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 91px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -153px;
    margin-left: 110px;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 330px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-2 {
    height: 382px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 470px;
    margin-left: 43px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 470px;
    margin-left: 43px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 470px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 293px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 216px;
  }

  .u-section-3 .u-shape-3 {
    width: 216px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 73px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 271px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 293px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 293px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 293px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1735px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 78px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 113px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 120px;
  }

  .u-section-3 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 783px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 113px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 113px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3 .u-image-2 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 535px;
}

.u-section-4 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 356px;
  background-image: url("images/IMG-20200308-WA0025.jpg");
  background-position: 58.19% 62.12%;
  background-size: 140%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 356px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.25rem;
  margin: 55px 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 0 30px;
}

.u-section-4 .u-image-2 {
  min-height: 356px;
  background-image: url("images/IMG_1179.JPG");
  background-position: 80.94% 50%;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 356px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 67px 30px 0;
}

.u-section-4 .u-text-5 {
  width: 225px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 294px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-2 {
    min-height: 294px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 294px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-4 .u-image-1 {
    min-height: 450px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    order: 1;
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 450px;
    order: 3;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-4 .u-image-1 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 675px;
    order: 2;
  }

  .u-section-4 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-4 .u-image-1 {
    min-height: 425px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 425px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}